useDynLib(CopulaInference,.registration = TRUE)
export(AuxFunC)
export(AuxFun)
export(taucop)
export(EstBiCop)
export(fnumber)
export(est_options)
export(rhoplackett)
export(tauplackett)
export(dplac)
export(hplac)
export(pplac)
export(rplac)
export(preparedata)
export(BiEmpCdf)
export(EmpCdf)
export(EmpCdf)
export(statcvm)
export(GofBiCop)
export(CdfInv)
export(bootstrapfun)
export(Finv)
export(pncs)
export(dncs)
export(hncs)
export(rncs)
export(identifiability)
export(EstDep)
importFrom("rvinecopulib", "dbicop", "hbicop", "pbicop","rbicop")
importFrom("stats","nlm","runif","qnbinom", "qnorm", "qpois","qchisq","pchisq","pnorm","dnorm")
importFrom("Matrix","rankMatrix")
import(parallel)
import(doParallel)
importFrom(foreach,"%dopar%")

